/* small adjustments for screen size smaller than 600 px */
 
 
 	  html {
 		-webkit-text-size-adjust: none;
 	  }
 
 	  .greeting {
 
 		font-size: 2em;
 
 	  }

 	  .mask {display: none;}
 	  .skills{display: none;}
 	  
 
 	  
 
 	  #design, #code, #research, #testing {
 		height: 200px;
 	  }
 
 	/*ending if statement */
 
	}
 
 #design, #code, #testing, #research span {font-size: 1em;}

  #contact .navigation { float:none; padding-bottom: 30px; font-size: 20px;}
	nav .navigation {font-size: 20px; float:none; margin-top: 20px;}


#image-wrapper {display: none;}